<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Apartamentów</title>
  </head>
  <body>
    <div class=" table-responsive">
      <table class="table table-hover table-borderless">
        <thead class="table-primary">
        <tr>
          <th></th>
          <th>Liczba Pokoi</th>
          <th>Metraż</th>
          <th>Cena Wynajmu</th>
          <th>Piętro</th>
          <th>Opis</th>
          <th>Liczba Łóżek Podwójnych</th>
          <th>Liczba Łóżek Jednoosobowych</th>
          <th>Adres</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let apartment of apartments; let i = index">
          <td><button class="btn btn-outline-primary" routerLinkActive="active" routerLink="/apartmentForReservation">Wybierz</button></td>
          <td>{{apartment.numberOfRooms}}</td>
          <td>{{apartment.square}}</td>
          <td>{{apartment.rentPrice}}</td>
          <td>{{apartment.floor}}</td>
          <td>{{apartment.description}}</td>
          <td>{{apartment.numberOfDoubleBeds}}</td>
          <td>{{apartment.numberOfSingleBeds}}</td>
          <td>{{apartment.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
