<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>

    <table>
      <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Login</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td><input type="checkbox" [checked]="isChecked(Number(user.id))" (change)="onCheckboxChange(Number(user.id))"></td>
        <td>{{ user.id }}</td>
        <td>
          <input type="text" [(ngModel)]="user.login" name="login" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
        <td>
          <input type="password" [(ngModel)]="user.password" name="password" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
        <td>
          <ul>
            <li *ngFor="let role of user.roles">
              {{ role.name }}
              <span *ngIf="role.description"> - {{ role.description }}</span>
            </li>
          </ul>
        </td>
        <td>
          <input type="text" [(ngModel)]="user.firstname" name="firstname" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="user.surname" name="surname" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
        <td>
          <input type="email" [(ngModel)]="user.email" name="email" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
        <td>
          <input type="tel" [(ngModel)]="user.phone" name="phone" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="user.address" name="address" [disabled]="!(isEditMode && isChecked(Number(user.id)))"/>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="toggleEditMode()" [ngStyle]="{'background-color': isEditMode ? 'green' : '', 'color': isEditMode ? 'white' : ''}">Toggle Edit Mode</button>
    <button (click)="submitPatchRequest(); reloadPage()">Save Changes</button>

  </body>
</html>
