<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Apartamentów</title>
  </head>
  <body>
    <div class=" table-responsive">
      <table class="table table-hover table-borderless">
        <thead class="table-success">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Liczba Pokoi</th>
          <th>Metraż</th>
          <th>Cena Wynajmu</th>
          <th>Piętro</th>
          <th>Opis</th>
          <th>Liczba Łóżek Podwójnych</th>
          <th>Liczba Łóżek Jednoosobowych</th>
          <th>Adres</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let apartment of apartments; let i = index">
          <td>
            <input type="checkbox" class="btn-check" id="btn-check{{i}}" [checked]="isChecked(apartment.id)" (change)="onCheckboxChange(apartment.id)">
            <label class="btn btn-outline-warning" for="btn-check{{i}}">Wybierz</label>
          </td>
          <td>{{ apartment.id }}</td>
          <td><input type="number" [(ngModel)]="apartment.numberOfRooms" name="numberOfRooms" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="number" [(ngModel)]="apartment.square" name="square" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="number" [(ngModel)]="apartment.rentPrice" name="rentPrice" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="number" [(ngModel)]="apartment.floor" name="floor" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="text" [(ngModel)]="apartment.description" name="description" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="number" [(ngModel)]="apartment.numberOfDoubleBeds" name="numberOfDoubleBeds" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="number" [(ngModel)]="apartment.numberOfSingleBeds" name="numberOfSingleBeds" [disabled]="!isChecked(apartment.id)"/></td>
          <td><input type="text" [(ngModel)]="apartment.address" name="address" [disabled]="!isChecked(apartment.id)"/></td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-outline-danger" (click)="deleteApartments();">Usuń wybrane</button>
      <button class="btn btn-outline-primary" (click)="addNewApartment()">Dodaj nowy apartament</button>
      <button class="btn btn-outline-primary" (click)="saveApartments();">Zapisz nowe apartamenty</button>
      <button class="btn btn-outline-warning" (click)="editApartments();">Zapisz wybrane</button>

      <table class="table table-hover table-borderless">
        <thead class="table-primary">
        <tr>
          <th></th>
          <th>Liczba Pokoi</th>
          <th>Metraż</th>
          <th>Cena Wynajmu</th>
          <th>Piętro</th>
          <th>Opis</th>
          <th>Liczba Łóżek Podwójnych</th>
          <th>Liczba Łóżek Jednoosobowych</th>
          <th>Adres</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let apartment of newApartments; let i = index;">
          <td><button class="btn btn-outline-danger" (click)="deleteNewApartment(i)">Usuń</button></td>
          <td><input type="number" [(ngModel)]="apartment.numberOfRooms" name="numberOfRooms"/></td>
          <td><input type="number" [(ngModel)]="apartment.square" name="square"/></td>
          <td><input type="number" [(ngModel)]="apartment.rentPrice" name="rentPrice"/></td>
          <td><input type="number" [(ngModel)]="apartment.floor" name="floor"/></td>
          <td><input type="text" [(ngModel)]="apartment.description" name="description"/></td>
          <td><input type="number" [(ngModel)]="apartment.numberOfDoubleBeds" name="numberOfDoubleBeds"/></td>
          <td><input type="number" [(ngModel)]="apartment.numberOfSingleBeds" name="numberOfSingleBeds"/></td>
          <td><input type="text" [(ngModel)]="apartment.address" name="address"/></td>
        </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
